# Project Owners
* @joesus @jingping2015 @kalendae @robtimp

# Login Kit
FBSDKLoginKit/* @joesus @robtimp @abeatte

# Swift Files
*.swift @joesus
pod 'FBSDKCoreKit', '~> 8.0.0'
pod 'FBSDKLoginKit', '~> 8.0.0'
pod 'FBSDKShareKit', '~> 8.0.0'
pod 'FBSDKGamingServiceKit', '~> 8.0.0'
